<h1>Happy news</h1>
@each(student in students)
<h1>{{student.name}}</h1>
<h1>{{student.mob_no}}</h1>
@end

@each(subject in subjects)
  <h1>{{subject.sub_name}}</h1>
  <h1>{{subject.sub_code}}</h1>
@end